html{    

    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    
}

.buttonContainer{
    margin: 10px 10px;
    text-align: center;

}

.info{
    font-size:20px;
    background-color:violet;
    letter-spacing: 2px;
    margin: 10px 10px;
    padding: 5px;
}

button{
    display: inline-block;
}

.header{
    display:flex;
    justify-content: center;
}


.crystalsArea{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px;


}

/* Crystal styling*/
.crystal{
    height:150px;
    width:150px;
}

.total{
    border: 1px solid yellow;
    background-color: violet;
    color:red;
    font-size:50px;
}

/*Styling for Score Header */
.scoreHeader{
    border: 1px solid yellow;
    background-color: violet;
    color:red;
    height: 50px;
    width: 200px;
    margin: 10px 10px;
    font-size:20px;

}

.winsAndLoss{
    bored: 1px solid violet;
    color:black;
    font-size:20px;
    height: 50px;
    width: 100px;
    background-color: yellow;
    margin: 10px 10px;

}


/* Hover effect on imgs*/
img:hover{
    -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc;
}

/* Hover effects on buttons */
button:hover{
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;

}